InTEIrviews.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <!-- This file generated 2024-01-09T19:09:10Z by 'extract-isosch.xsl'. -->

   <!-- ********************* -->
   <!-- namespaces, declared: -->
   <!-- ********************* -->
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
   <ns prefix="xs" uri="http://www.w3.org/2001/XMLSchema"/>
   <ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
   <ns prefix="rna" uri="http://relaxng.org/ns/compatibility/annotations/1.0"/>
   <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
   <ns prefix="sch1x" uri="http://www.ascc.net/xml/schematron"/>

   <!-- ********************* -->
   <!-- namespaces, implicit: -->
   <!-- ********************* -->


   <!-- ************ -->
   <!-- constraints: -->
   <!-- ************ -->
   <pattern id="schematron-constraint-tei_interview-att.datable.w3c-att-datable-w3c-when-1">
      <rule context="tei:*[@when]">
        <report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be used with any other att.datable.w3c attributes.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-tei_interview-att.datable.w3c-att-datable-w3c-from-2">
      <rule context="tei:*[@from]">
        <report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-tei_interview-att.datable.w3c-att-datable-w3c-to-3">
      <rule context="tei:*[@to]">
        <report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-tei_interview-att.global.source-source-only_1_ODD_source-4">
          <rule context="tei:*[@source]">
            <let name="srcs" value="tokenize( normalize-space(@source),' ')"/>
            <report test="( self::tei:classRef               | self::tei:dataRef               | self::tei:elementRef               | self::tei:macroRef               | self::tei:moduleRef               | self::tei:schemaSpec )               and               $srcs[2]">
              When used on a schema description element (like
              <value-of select="name(.)"/>), the @source attribute
              should have only 1 value. (This one has <value-of select="count($srcs)"/>.)
            </report>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-tei_interview-att.measurement-att-measurement-unitRef-5">
      <rule context="tei:*[@unitRef]">
        <report test="@unit" role="info">The @unit attribute may be unnecessary when @unitRef is present.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-tei_interview-att.typed-subtypeTyped-6">
      <rule context="tei:*[@subtype]">
        <assert test="@type">The <name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</assert>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-tei_interview-att.pointing-targetLang-targetLang-7">
          <rule context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
            <assert test="@target">@targetLang should only be used on <name/> if @target is specified.</assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-tei_interview-att.spanning-spanTo-spanTo-points-to-following-8">
          <rule context="tei:*[@spanTo]">
            <assert test="id(substring(@spanTo,2)) and following::*[@xml:id=substring(current()/@spanTo,2)]">
The element indicated by @spanTo (<value-of select="@spanTo"/>) must follow the current element <name/>
            </assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-tei_interview-att.styleDef-schemeVersion-schemeVersionRequiresScheme-9">
          <rule context="tei:*[@schemeVersion]">
            <assert test="@scheme and not(@scheme = 'free')">
              @schemeVersion can only be used if @scheme is specified.
            </assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-tei_interview-att.calendarSystem-calendar-calendar-10">
          <rule context="tei:*[@calendar]">
            <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
              systems or calendars to which the date represented by the content of this element belongs,
              but this <name/> element has no textual content.</assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-tei_interview-p-abstractModel-structure-p-in-ab-or-p-11">
      <rule context="tei:p">
         <report test="(ancestor::tei:ab or ancestor::tei:p) and not( ancestor::tei:floatingText |parent::tei:exemplum |parent::tei:item |parent::tei:note |parent::tei:q |parent::tei:quote |parent::tei:remarks |parent::tei:said |parent::tei:sp |parent::tei:stage |parent::tei:cell |parent::tei:figure )">
        Abstract model violation: Paragraphs may not occur inside other paragraphs or ab elements.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-p-abstractModel-structure-p-in-l-or-lg-12">
      <rule context="tei:p">
         <report test="(ancestor::tei:l or ancestor::tei:lg) and not( ancestor::tei:floatingText |parent::tei:figure |parent::tei:note )">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab, unless p is a child of figure or note, or is a descendant of floatingText.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-desc-deprecationInfo-only-in-deprecated-13">
      <rule context="tei:desc[ @type eq 'deprecationInfo']">
        <assert test="../@validUntil">Information about a
        deprecation should only be present in a specification element
        that is being deprecated: that is, only an element that has a
        @validUntil attribute should have a child &lt;desc
        type="deprecationInfo"&gt;.</assert>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-tei_interview-rt-target-rt-target-not-span-14">
      <rule context="tei:rt/@target">
          <report test="../@from | ../@to">When target= is
            present, neither from= nor to= should be.</report>
        </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-rt-from-rt-from-15">
      <rule context="tei:rt/@from">
          <assert test="../@to">When from= is present, the to=
            attribute of <name/> is required.</assert>
        </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-rt-to-rt-to-16">
      <rule context="tei:rt/@to">
          <assert test="../@from">When to= is present, the from=
            attribute of <name/> is required.</assert>
        </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-name-calendar-calendar-check-name-17">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-ptr-ptrAtts-18">
      <rule context="tei:ptr">
         <report test="@target and @cRef">Only one of the
attributes @target and @cRef may be supplied on <name/>.</report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-ref-refAtts-19">
      <rule context="tei:ref">
         <report test="@target and @cRef">Only one of the
	attributes @target' and @cRef' may be supplied on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-list-gloss-list-must-have-labels-20">
      <rule context="tei:list[@type='gloss']">
	        <assert test="tei:label">The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element</assert>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-tei_interview-author-calendar-calendar-check-author-21">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-editor-calendar-calendar-check-editor-22">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-resp-calendar-calendar-check-resp-23">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-title-calendar-calendar-check-title-24">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-meeting-calendar-calendar-check-meeting-25">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-relatedItem-targetorcontent1-26">
      <rule context="tei:relatedItem">
         <report test="@target and count( child::* ) &gt; 0">
If the @target attribute on <name/> is used, the
relatedItem element must be empty</report>
         <assert test="@target or child::*">A relatedItem element should have either a 'target' attribute
        or a child element to indicate the related bibliographic item</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-l-abstractModel-structure-l-in-l-27">
      <rule context="tei:l">
         <report test="ancestor::tei:l[not(.//tei:note//tei:l[. = current()])]">
        Abstract model violation: Lines may not contain lines or lg elements.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-lg-atleast1oflggapl-28">
      <rule context="tei:lg">
         <assert test="count(descendant::tei:lg|descendant::tei:l|descendant::tei:gap) &gt; 0">An lg element
        must contain at least one child l, lg, or gap element.</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-lg-abstractModel-structure-lg-in-l-29">
      <rule context="tei:lg">
         <report test="ancestor::tei:l[not(.//tei:note//tei:lg[. = current()])]">
        Abstract model violation: Lines may not contain line groups.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-sponsor-calendar-calendar-check-sponsor-30">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-funder-calendar-calendar-check-funder-31">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-principal-calendar-calendar-check-principal-32">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-idno-calendar-calendar-check-idno-33">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-licence-calendar-calendar-check-licence-34">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-quotation-quotationContents-35">
      <rule context="tei:quotation">
         <report test="not(@marks) and not (tei:p)">
On <name/>, either the @marks attribute should be used, or a paragraph of description provided</report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-citeStructure-match-citestructure-outer-match-36">
          <rule context="tei:citeStructure[not(parent::tei:citeStructure)]">
            <assert test="starts-with(@match,'/')">An XPath in @match on the outer <name/> must start with '/'.</assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-tei_interview-citeStructure-match-citestructure-inner-match-37">
          <rule context="tei:citeStructure[parent::tei:citeStructure]">
            <assert test="not(starts-with(@match,'/'))">An XPath in @match must not start with '/' except on the outer <name/>.</assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-tei_interview-unitDecl-calendar-calendar-check-unitDecl-38">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-unitDef-calendar-calendar-check-unitDef-39">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-conversion-calendar-calendar-check-conversion-40">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-application-calendar-calendar-check-application-41">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-creation-calendar-calendar-check-creation-42">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-change-calendar-calendar-check-change-43">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
      
      
    
      
      
    
      
      
    <pattern id="schematron-constraint-tei_interview-div-abstractModel-structure-div-in-l-or-lg-47">
      <rule context="tei:div">
         <report test="(ancestor::tei:l or ancestor::tei:lg) and not(ancestor::tei:floatingText)">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, unless div is a descendant of floatingText.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-div-abstractModel-structure-div-in-ab-or-p-48">
      <rule context="tei:div">
         <report test="(ancestor::tei:p or ancestor::tei:ab) and not(ancestor::tei:floatingText)">
        Abstract model violation: p and ab may not contain higher-level structural elements such as div, unless div is a descendant of floatingText.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-span-targetfrom-49">
      <rule context="tei:span">
         <report test="@from and @target">
Only one of the attributes @target and @from may be supplied on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-span-targetto-50">
      <rule context="tei:span">
         <report test="@to and @target">
Only one of the attributes @target and @to may be supplied on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-span-tonotfrom-51">
      <rule context="tei:span">
         <report test="@to and not(@from)">
If @to is supplied on <name/>, @from must be supplied as well</report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-span-tofrom-52">
      <rule context="tei:span">
         <report test="contains(normalize-space(@to),' ') or contains(normalize-space(@from),' ')">
The attributes @to and @from on <name/> may each contain only a single value</report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-precision-calendar-calendar-check-precision-53">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-link-linkTargets3-54">
      <rule context="tei:link">
         <assert test="contains(normalize-space(@target),' ')">You must supply at least two values for @target or  on <name/>
         </assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-ab-abstractModel-structure-ab-in-l-or-lg-55">
      <rule context="tei:ab">
         <report test="(ancestor::tei:l or ancestor::tei:lg) and not( ancestor::tei:floatingText |parent::tei:figure |parent::tei:note )">
        Abstract model violation: Lines may not contain higher-level divisions such as p or ab, unless ab is a child of figure or note, or is a descendant of floatingText.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-join-joinTargets3-56">
      <rule context="tei:join">
         <assert test="contains(@target,' ')">
You must supply at least two values for @target on <name/>
         </assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-standOff-nested_standOff_should_be_typed-57">
      <rule context="tei:standOff">
         <assert test="@type or not(ancestor::tei:standOff)">This
      <name/> element must have a @type attribute, since it is
      nested inside a <name/>
         </assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-orgName-calendar-calendar-check-orgName-58">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-persName-calendar-calendar-check-persName-59">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-placeName-calendar-calendar-check-placeName-60">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-bloc-calendar-calendar-check-bloc-61">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-country-calendar-calendar-check-country-62">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-region-calendar-calendar-check-region-63">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-settlement-calendar-calendar-check-settlement-64">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-district-calendar-calendar-check-district-65">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-offset-calendar-calendar-check-offset-66">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-geogName-calendar-calendar-check-geogName-67">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-geogFeat-calendar-calendar-check-geogFeat-68">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-affiliation-calendar-calendar-check-affiliation-69">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-age-calendar-calendar-check-age-70">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-birth-calendar-calendar-check-birth-71">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-climate-calendar-calendar-check-climate-72">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-death-calendar-calendar-check-death-73">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-education-calendar-calendar-check-education-74">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-event-calendar-calendar-check-event-75">
          <rule context="tei:*[@calendar]">
            <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
            systems or calendars to which the date represented by the content of this element belongs,
            but this <name/> element has no textual content.</assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-tei_interview-faith-calendar-calendar-check-faith-76">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-floruit-calendar-calendar-check-floruit-77">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-gender-calendar-calendar-check-gender-78">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-langKnowledge-calendar-calendar-check-langKnowledge-79">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-langKnown-calendar-calendar-check-langKnown-80">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-location-calendar-calendar-check-location-81">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-nationality-calendar-calendar-check-nationality-82">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-occupation-calendar-calendar-check-occupation-83">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-persPronouns-calendar-calendar-check-persPronouns-84">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-population-calendar-calendar-check-population-85">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-relation-reforkeyorname-86">
      <rule context="tei:relation">
         <assert test="@ref or @key or @name">One of the attributes  'name', 'ref' or 'key' must be supplied</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-relation-activemutual-87">
      <rule context="tei:relation">
         <report test="@active and @mutual">Only one of the attributes @active and @mutual may be supplied</report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-relation-activepassive-88">
      <rule context="tei:relation">
         <report test="@passive and not(@active)">the attribute 'passive' may be supplied only if the attribute 'active' is supplied</report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-relation-calendar-calendar-check-relation-89">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-residence-calendar-calendar-check-residence-90">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-sex-calendar-calendar-check-sex-91">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-socecStatus-calendar-calendar-check-socecStatus-92">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-state-calendar-calendar-check-state-93">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-terrain-calendar-calendar-check-terrain-94">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-trait-calendar-calendar-check-trait-95">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-objectName-calendar-calendar-check-objectName-96">
                <rule context="tei:*[@calendar]">
                    <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
                        systems or calendars to which the date represented by the content of this element belongs,
                        but this <name/> element has no textual content.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-tei_interview-shift-shiftNew-97">
      <rule context="tei:shift">
         <assert test="@new" role="warning">              
The @new attribute should always be supplied; use the special value
"normal" to indicate that the feature concerned ceases to be
remarkable at this point.</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-tei_interview-addSpan-addSpan-requires-spanTo-98">
      <rule context="tei:addSpan">
         <assert test="@spanTo">The @spanTo attribute of <name/> is required.</assert>
      </rule>
   </pattern>

   <!-- *********** -->
   <!-- deprecated: -->
   <!-- *********** -->
   <pattern>
      <rule context="tei:name">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the name element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:author">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the author element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:editor">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the editor element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:resp">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the resp element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:title">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the title element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:meeting">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the meeting element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:sponsor">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the sponsor element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:funder">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the funder element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:principal">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the principal element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:idno">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the idno element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:licence">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the licence element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:unitDecl">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the unitDecl element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:unitDef">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the unitDef element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:conversion">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the conversion element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:application">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the application element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:creation">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the creation element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:change">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the change element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:precision">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the precision element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:orgName">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the orgName element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:persName">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the persName element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:placeName">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the placeName element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:bloc">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the bloc element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:country">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the country element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:region">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the region element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:settlement">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the settlement element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:district">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the district element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:offset">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the offset element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:geogName">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the geogName element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:geogFeat">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the geogFeat element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:affiliation">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the affiliation element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:age">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the age element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:birth">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the birth element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:climate">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the climate element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:death">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the death element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:education">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the education element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:event">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the event element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:faith">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the faith element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:floruit">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the floruit element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:gender">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the gender element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:langKnowledge">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the langKnowledge element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:langKnown">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the langKnown element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:location">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the location element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:nationality">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the nationality element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:occupation">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the occupation element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:persPronouns">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the persPronouns element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:population">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the population element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:relation">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the relation element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:residence">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the residence element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:sex">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the sex element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:socecStatus">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the socecStatus element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:state">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the state element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:terrain">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the terrain element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:trait">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the trait element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
   <pattern>
      <rule context="tei:objectName">
         <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of the objectName element will be removed from the TEI on 2024-11-11.
                </report>
      </rule>
   </pattern>
</schema>
